{% extends "base_internal.html" %}
{% block content %}
    <main class="py-10 lg:pl-[19rem] px-4 min-h-full" id="main-content">
        <div class="overflow-hidden bg-earth/20 border-2 border-smoky shadow">
            <div class="px-4 py-5 sm:p-6">
                <div>
                    <!-- TODO: make this prettier, more detail, back to goal, or make it a modal on the goals page -->
                    <h1 class="mt-2 mb-4 sm:mt-4 sm:mb-6 text-center text-xl sm:text-2xl monserrat border-b-8 px-4 pb-2 sm:px-8 border-smoky text-smoky">
                        I spent
                        <strong class="font-bold teko tracking-wider text-2xl sm:text-4xl text-tomato">{{ session.duration_mins }}</strong>
                        minutes
                        <br>
                        on
                        <strong class="font-bold teko tracking-wider text-2xl sm:text-4xl text-tomato">{{ session.goal.name }}</strong>
                        on
                        <strong class="font-bold teko tracking-wider text-2xl sm:text-4xl text-tomato">{{ session.date }}</strong>
                    </h1>
                    <p class="text-xl text-smoky">{{ session.notes }}</p>
                    <div class="flex flex-col sm:flex-row-reverse justify-start space-y-2 sm:space-y-0 sm:space-x-4 ml-4">
                      <a href="{% url 'update_session' session.goal.id session.id %}"
                           class="flex items-center bg-jade px-5 pt-2 pb-1 ml-2 text-xl font-semibold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky teko tracking-wide">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 class="w-6 h-6 -mt-1 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                            </svg>
                        Edit</a>
                      <a href="{% url 'delete_session' session.goal.id session.id %}"
                           class="bg-earth px-5 pt-2 pb-1 text-xl font-semibold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky teko tracking-wide flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2"
                                 stroke="currentColor"
                                 class="w-6 h-6 -mt-1 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
