{% load customfilters %}
<main class="py-10 lg:pl-[19rem] px-4 min-h-full" id="main-content">
    <div class="overflow-hidden bg-earth-200/20 border-2 border-smoky shadow">
        <form class="px-4 py-5 sm:p-6 space-y-4" method="post" action="">
            {% csrf_token %}
            <h1 class="mt-2 mb-4 sm:mt-4 sm:mb-6 text-center text-3xl sm:text-5xl font-bold monserrat border-b-8 px-4 pb-2 sm:px-8 border-smoky text-smoky">
                {% if session %}
                    Edit Session
                {% else %}
                    Enter Session
                {% endif %}
            </h1>
            {% for field in form %}
                <div class="my-1 flex flex-col">
                    <div class="text-tomato-500 text-sm">{{ field.errors }}</div>
                    <label for="{{ field.id_for_label }}" class="teko font-bold text-2xl">{{ field.label }}</label>
                    {{ field|addclass:"form-control" }}
                    {% if field.help_text %}<div class="text-sm montserrat text-neutral-700">{{ field.help_text }}</div>{% endif %}
                </div>
            {% endfor %}
            <div class="flex justify-start flex-row-reverse w-full">
                <button type="submit"
                        class="flex items-center bg-jade-500 px-5 pt-2 pb-1 ml-2 text-2xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky teko tracking-wide">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 -mt-1 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    Save
                </button>
                <a href="{% if session %}{% url 'session_detail' session.goal.id session.id %}{% else %}{% url 'goal_detail' goal_id %}{% endif %}"
                   hx-get="{% if session %}{% url 'session_detail' session.goal.id session.id %}{% else %}{% url 'goal_detail' goal_id %}{% endif %}"
                   hx-push-url="{% if session %}{% url 'session_detail' session.goal.id session.id %}{% else %}{% url 'goal_detail' goal_id %}{% endif %}"
                   class="flex items-center bg-tomato-500 px-5 pt-2 pb-1 text-2xl font-bold text-smoky border-smoky border-b-4 border-r-4 shadow-lg hover:border-t-4 hover:border-l-4 hover:border-r-0 hover:border-b-0 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-smoky teko tracking-wide">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-6 h-6 -mt-1 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    Cancel
                </a>
            </div>
        </form>
    </div>
</main>
{# vim: se ft=htmldjango : #}
